h1 { 
    color: green;
    margin: 2em;
    margin: 2 em; /*Gaboleh Spasi*/

}

h2 {
    color: #00a2c6;
}
  
h3 {
    color: #00a2c6;
}
 
p {
   font-size: small;
   font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6
}